.login-layout {
  height: 100vh;
  background: url("./assets/loginWallapaper.avif") no-repeat center center;
  background-size: cover;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form-container {
  background: rgba(0, 0, 0, 0.6);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}
