.navbar-title {
  width: 100%;
  font-size: 2em !important;
  transition: all 0.3s ease;
  margin-bottom: 0 !important;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  padding: 0 20px !important;
}

.profile-button:focus {
  outline: none;
  border: none;
}

.profile-button {
  border: none;
}

.profile-button .ant-avatar {
  border: none;
}

.login-layout {
  height: 100vh;
  background: url("./assets/loginWallapaper.avif") no-repeat center center;
  background-size: cover;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form-container {
  background: rgba(0, 0, 0, 0.6);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}

.dash-first-inner-content {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.dash-second-inner-content {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.ant-pro-statistic-card {
  border-radius: 0;
}

@media (max-width: 600px) {
  .dash-first-inner-content {
    width: 100%;
    padding: 35px;
    background-color: #fff;
  }

  .dash-second-inner-content {
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .ant-layout-content {
    transition: margin-left 0.3s ease;
  }

  .sider-mobile {
    position: relative !important;
  }
}

@media (max-width: 767px) {
  .ant-layout-content {
    margin-left: 0 !important;
  }
}
